{%- import_yaml "diamond/defaults.yaml" as default_settings %}
{%- set os_family_map = salt['grains.filter_by'](
  {
    'Debian': {},
    'RedHat': {}
  }
  , grain="os_family"
  , merge=salt['pillar.get']('diamond:lookup')
) %}

{%  do default_settings.diamond.update(os_family_map) %}

{% set diamond = salt['pillar.get'](
  'diamond',
  default=default_settings.diamond,
  merge=True
) %}